<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <title></title>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>
<div th:fragment="header">
    <!-- <img src="/image/img.png" alt="NotFoundLogo">-->
    <div sec:authorize="isAuthenticated()">
        <span sec:authentication="name">User</span>
    </div>
    <!--<span th:text="${#authentication.principal.username}">Username</span>-->
    <!-- <form th:action="@{/logout}" method="post">
         <button type="submit">Logout</button>
     </form>-->
    <!--  <div sec:authorize="isAuthenticated()">
          <button type="button" onclick="doLogout()">Logout</button><br>
      </div>
      <div sec:authorize="!isAuthenticated()">
          <button type="button" onclick="doLogin()">login</button><br>
      </div>-->
    <div th:class="button-container-header" class="button-container-header">
        <div sec:authorize="isAuthenticated()">
            <button type="button" onclick="doLogout()">Logout</button>
            <br>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <button type="button" onclick="doLogin()">login</button>
            <br>
        </div>
        <button type="button" onclick="doRegistration()">Registration</button>
        <div>
            <a th:href="@{{previous}(previous=${referer})}">
                <button type="button">Back</button>
            </a>
        </div>
    </div>
    <hr/>
</div>
</body>
</html>